@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  //htmlタグのスタイルを上書きしたい場合はここに記述する
  html {
    font-family: YakuHanJP, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans JP", Meiryo, sans-serif;
    letter-spacing: 0.1em;
    scroll-behavior: smooth;
  }
}

.sp{display: none;}

a:hover{
    opacity: 0.6;
    transition: 0.3s;
}

p{
    font-size: 15px;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  display: inline-block; 
  padding: 0 20px; 
  text-align: center;
}

h2 span {
  font-size: 15px;
  display: block;
  text-align: center;
  position: relative;
  margin-left: -20px; 
  margin-right: -20px;  
  padding-top: 10px;
  font-weight: normal;
}

h2 span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 5px;
  background-color: #00a5e5;
  border-radius: 5px;
}

.l-container-width{
    padding: 60px 0;
    max-width: 1000px;
    margin: 0 auto;
    position:relative;
}
.l-container-100{
    width: 100%;
    background: #d4d4d4;
    position:relative;
}

.btn-common{
    border-radius: 50%;
    border: 3px solid #00a5e5;
    background-color: #fff;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    margin: 0 auto;
    right: 0;
    font-size: 14px;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .l-container-width{
        padding: 60px 0;
        max-width: 90%;
        margin: 0 auto;
    }

    .sp{display: block;}
}

/* ======================================
    header
====================================== */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1920px;
  padding: 40px 0;
  position: relative; /* ボタンの基準用 */
  z-index: 100;
}

header .header-logo {
  display: block;
  max-width: 260px;
  position: relative; 
  z-index: 200;      
}
header .header-logo img{
    max-width: 260px;  
    display: block;
    height: 40px;
}


header ul {
  display: flex;
  gap: 35px;
}

/* --- ハンバーガーボタンの基本スタイル（PCでは隠す） --- */
.hamburger {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 200;
}

@media (max-width: 768px) {
   header{
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        padding: 15px 0;
   } 
  .hamburger {
    display: block; 
  }

  /* 3本線のデザイン */
  .hamburger span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #aad0df;
    position: absolute;
    left: 5px;
    transition: 0.3s;
  }
  .hamburger span:nth-child(1) { top: 12px; }
  .hamburger span:nth-child(2) { top: 20px; }
  .hamburger span:nth-child(3) { top: 28px; }

  .hamburger.is-active span:nth-child(1) { transform: translateY(8px) rotate(45deg); }
  .hamburger.is-active span:nth-child(2) { opacity: 0; }
  .hamburger.is-active span:nth-child(3) { transform: translateY(-8px) rotate(-45deg); }

.header-nav {
    position: fixed;
    top: 0;
    right: -100%; 
    width: 100%;   
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(5px); 
    padding: 100px 40px;
    transition: 0.4s; 
    z-index: 150;             
    box-shadow: none;       
  }

  /* 縦中央に寄せたい場合は以下を追加 */
  .header-nav.is-active {
    right: 0;
  }

    header ul {
        height: 100%;
        margin-top: 50px;
        flex-direction: column; 
        gap: 30px;
        font-size: 1.2rem;
    }
    .header-nav ul li a{
        position: relative;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
        display: block;
    }
    .header-nav ul li a::before{
        content: "";
        position: absolute;
        bottom: 8px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #689acb;
        z-index: -1;
    }
}
/* ======================================
   .fv
====================================== */
.fv{
    background:url(/assets/images/fv_pc.png)center no-repeat , #fff;
    max-width: 1920px;    
    position: relative;
}
.fv h1 {
    max-width: 800px;
    margin: 0 auto;
    padding: 235px 0;
}
.fv h1 img{
    width: 100%;
}

.arrow{
    position: absolute;
    bottom: 8%;
    left: 0;
    right: 0;
    display: block;
    width: 45px;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {

    .fv h1 img{
        width: 80%;
        margin: 0 auto;
    }
}   
/* ======================================
    .top-content-area
====================================== */
.top-content-area{
    padding: 50px 0;
}
.top-content-message{
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.15rem;
    line-height: 3.5rem;
}

.top-content-area .box{
    margin-top: 65px;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 20%, #333333 20%, #333333 100%);
}
.top-content-area .box p{
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 40px 0 60px;
    line-height: 1.7;
    letter-spacing: 0.08em;
}

.top-content-area .box ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.top-content-area .box ul li{
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #333333;
    background-color: #fff;
    font-size: 20px;
    text-align: center;
    color: #333333;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    flex-direction: column; /* 縦並び */
    justify-content: center; /* 中央に寄せる */
    gap: 10px;
}
.top-content-area .box ul li span{
    color: #c2c2c2;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
}
@media screen and (max-width: 768px) {

    .top-content-message{
        width: 90%;
        margin: 0 auto;
        font-size: 20px;
        line-height: 2rem;
    }

    .top-content-area .box p{
        font-size: 18px;
        width: 90%;
        margin: 0 auto;
    }

    .top-content-area .box ul li{
        width: 160px;
        font-size: 16px;
        height: 160px;
    }
    .top-content-area .box ul li span{
        font-size: 12px;
    }
}
/* ======================================
    works-area
====================================== */
.works-area ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 40px 20px;
    margin: 40px auto;
}
.works-area ul li{
    width: calc(100% / 2 - 20px);
    position: relative;
}
.works-area ul li a{
    opacity: 1;
}
/* 7つ周期の5番目 (5, 12, 19...) */
.works-area ul li:nth-child(7n+5) { 
    width: calc( 100% / 3 - 20px);

}

/* 7つ周期の6番目 (6, 13, 20...) */
.works-area ul li:nth-child(7n+6) { 
    width: calc( 100% / 3 - 20px);

 }

/* 7つ周期の7番目 (7, 14, 21...) */
.works-area ul li:nth-child(7n) { 
    width: calc( 100% / 3 - 20px);
 }

 /* 2番目 (2, 9, 16...) */
.works-area ul li:nth-child(7n+2) {
    padding: 20px 0 0;
    border-top: 3px solid #00a5e5;
}

/* 3番目 (3, 10, 17...) */
.works-area ul li:nth-child(7n+3) {
    padding: 20px 0 0;
    border-top: 3px solid #00a5e5;
}

/* 6番目 (6, 13, 20...) */
.works-area ul li:nth-child(7n+6) {
    padding: 20px 0 0;
    border-top: 3px solid #00a5e5;
}

.works-area ul li img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.works-area ul li div{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: #fff;
    box-sizing: border-box;
}
.works-area ul li:hover div{
    background-color: #333333;
    color: #fff;
}

@media screen and (max-width: 768px) {
  .works-area ul {
    display: flex;
    flex-direction: column; 
  }

/* 7つおきの周期の中で 2, 4, 5, 6番目を指定 */
    .works-area ul li:nth-child(7n+2) a,
    .works-area ul li:nth-child(7n+4) a,
    .works-area ul li:nth-child(7n+5) a,
    .works-area ul li:nth-child(7n+6) a{
       display: flex;
    }

    .works-area ul li:nth-child(7n+2) a img,
    .works-area ul li:nth-child(7n+4) a img,
    .works-area ul li:nth-child(7n+5) a img,
    .works-area ul li:nth-child(7n+6) a img{
       width: 50%;
    }
}
/* ======================================
    .news-area
====================================== */
.news-area ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 50px auto;
}
.news-area ul li{
    background-color: #fff;
}
.news-area ul li p.date{
    padding: 20px 20px 0;
    font-size: 14px;
}
.news-area ul li p.title{
    padding: 0 20px 20px;
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .news-area ul li{
    width: calc(100% / 3 - 20px);
  }
}

@media screen and (max-width: 768px) {
    .news-area ul{
        flex-wrap: wrap;
    }
    .news-area ul li{
        width: 100%;
        background: transparent;
    }

    .news-area ul li a {
        display: flex;
        align-items: normal; /* 上揃え（中央なら center） */
        gap: 15px;               /* 画像と文字の間の隙間 */
        text-decoration: none;
        margin-bottom: 20px;     /* リスト同士の間隔 */
    }

     .news-area ul li a img{
        width: 100%;
     }


    .news-area .news-text-content{
        background-color: #fff;
        width: 100%;
    }



}

/* ======================================
    about-area
====================================== */
.about-area h2{
    margin-bottom: 40px;
}
.about-area dl{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.about-area dl dt{
    color: #fff;
    padding: 5px 10px;
    background-color: #00a5e5;
    width: 20%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    max-height: 30px;

}

.about-area dl dd{
    border-bottom: 1px solid #626262;
    width: 80%;
    padding-left: 10px;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.05em;
}
.about-area .only-dd dd{
    width: 100%;
    padding: 5px 20px 10px;
}

@media screen and (max-width: 768px) {
    .about-area dl dt{
        max-height: max-content;
    }
}


/* ======================================
   .contact-area
====================================== */
.contact-area{
    margin:0 0 160px ;
}
.contact-area p{
    margin: 40px auto;
}

.contact-area a{
    bottom: -50px;
}

/* ======================================
   map-area
====================================== */
.map-area iframe{
    width: 100%;
    filter: grayscale(100%);
}



/* ======================================
    footer
====================================== */
footer {
    padding: 60px 60px 0;
    background-color:#333333 ;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer ul li{
    color: #fff;
    font-size: 48px;
    width: 300px;
    position: relative;
    z-index: 1; 
}

footer ul li:after{
    content: "";
    height: 8px;
    background: linear-gradient(#00a5e5 60%, #00a5e5 60%);
    width: 100%;
    position:absolute;
    bottom: 10px;
    left: 0;
    z-index: -1;
}

footer div{
    width: 300px;
}
footer div img{
    filter: brightness(0) invert(1);
    max-width: 500px;
}

small{
    display: flex;
    width: 100%;
    justify-content: right;
    color: #fff;
    font-size: 12px;
    padding: 10px 0;
    background-color:#333333 ;
    padding: 10px 60px;
}

@media screen and (max-width: 768px) {
    footer{
        padding: 30px 30px 0;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
    footer ul{
        width: 100%;
        display: flex;
        flex-wrap: wrap;   
        gap: 10px;
        align-items: center;
        justify-content: space-between;
     }
     footer ul li{
        width: 45%;
        font-size: 26px;
     }
     small{
        justify-content: center;
        padding-top: 30px;
     }
}


/* ======================================
    ぱんくず
====================================== */
.p-breadcrumbs {
    font-size: 12px;
    max-width: 1255px;
    margin: 0 auto;
    width: 90%;
    padding: 20px 0; 
}

.p-breadcrumbs ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.p-breadcrumbs li {
    display: flex;
    align-items: center;
    line-height: 180%;
}

.p-breadcrumbs li:not(:last-child)::after {
    content: ">";
    margin-left: 10px;  
    margin-right: 10px;  
    margin-bottom: 2px;
    color: #ccc;      

}

.p-breadcrumbs a {
    text-decoration: none;
    color: #333;
}

.p-breadcrumbs a:hover {
    text-decoration: underline;
}

.p-breadcrumbs li:last-child {
    color: #00a5e5;
    font-weight: bold; 
    pointer-events: none; 
}
/* ======================================
    news一覧ページ
====================================== */
.page-news{
    max-width: 1200px;
    margin: 80px auto;
}

.page-news h1 {
  margin: 0px 0 80px;
  font-size: 32px;
  font-weight: bold;
  display: inline-block; 
  padding: 0 20px; 
  text-align: center;
}

.page-news h1 span {
  font-size: 16px;
  display: block;
  text-align: center;
  position: relative;
  margin-left: -20px; 
  margin-right: -20px;  
  padding-top: 10px;
  font-weight: normal;
}

.page-news h1 span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 5px;
  background-color: #00a5e5;
  border-radius: 5px;
}

.page-news ul li a{
    border-bottom: 1px solid #00a5e5;
    padding: 10px;
    display: flex;
    gap:20px;
}

.page-news ul li .date{}
.page-news ul li .title{
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .page-news{
        width: 90%;
    }
}
/* ======================================
    news詳細ページ
====================================== */
.page-detail h1{
    font-size: 24px;
    border-bottom: 1px solid #00a5e5;
    padding: 10px;
}
.page-detail .date{
    padding: 10px;
    text-align: right;
    font-size: 12px;
}
.page-detail .backbtn{
    text-align: center;
    margin: 80px auto 60px;
}

.page-detail .btn-common{
    position: relative;
}

.post-content{
    width: 90%;
    margin: 0 auto;
}

/* ======================================
    お問い合わせ
====================================== */
.snow-monkey-form{
    border-top:2px solid #00a5e5;
    padding: 10px 0;
}

.smf-item {
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 20px; 
    align-items: flex-start;
    gap: 20px;
    font-size: 14px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.smf-item__col--label {
    flex: 0 0 200px;
    max-width: 200px;
    background-color: #fff;
    text-align: center;
    padding: 10px;
}

.smf-item input{
    width: 100%;
}
.smf-item__col--controls {
    flex: 1; 
}

.smf-button-control__control{
    border-radius: 50%!important;
    border: 3px solid #00a5e5!important;
    background-color: #fff!important;
    width: 100px!important;
    height: 100px!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    position: absolute!important;
    left: 0!important;
    margin: 0 auto!important;
    right: 0!important;
    font-size: 14px!important;
    z-index: 1!important;
    letter-spacing: 0.1px!important;
}

@media screen and (max-width: 767px) {
    .smf-item {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap:0px;
    }
    .smf-item__col--label {
        flex: 0 0 auto;
        max-width: 100%;
        margin-bottom: 8px; 
        min-width: 200px;
    }
    .smf-item__col--controls{
        width: 100%;
    }

}
